/*.apk
/*.keystore
/*.Library
/*.UserSettings
/*.ProjectSettings
/*.obj
/*.Logs
/*.CookApps_HexMatch_BurstDebugInformation_DoNotShip
/*.vsconfig
/*.csproj
/Library
/UserSettings
/obj/Debug
/ProjectSettings
/Logs
/.utmp/RelWithDebInfo/4qh62684/prefab/arm64-v8a/prefab/lib/aarch64-linux-android/cmake/games-frame-pacing
/.utmp/RelWithDebInfo/4qh62684/prefab/arm64-v8a/prefab/lib/aarch64-linux-android/cmake/game-activity
/.utmp/RelWithDebInfo/4qh62684
/.utmp/tools/release/arm64-v8a
/.vs/CookApps_HexMatch/v16
